package persistence

import (
	"context"

	"{{.FrameworkModule}}/framework/data"
	"{{.FrameworkModule}}/framework/ioc"
	"{{.ModuleName}}/internal/application/port/output"
	"{{.ModuleName}}/internal/domain/model"
	persistenceData "{{.ModuleName}}/internal/infrastructure/output/persistence/data"
	"{{.ModuleName}}/internal/infrastructure/output/persistence/mapper"

	"gorm.io/gorm"
)

type userRepositoryAdapter struct {
	data.BaseRepository[persistenceData.UserEntity]
}

func init() {
	ioc.GetContainer().RegisterRepositoryFactory("UserRepository", func(dbConn *gorm.DB) interface{} {
		return &userRepositoryAdapter{
			BaseRepository: data.NewBaseRepository[persistenceData.UserEntity](dbConn),
		}
	})
}

func (a *userRepositoryAdapter) Save(ctx context.Context, user *model.User) error {
	entity := mapper.UserToEntity(*user)
	if err := a.BaseRepository.Save(ctx, &entity); err != nil {
		return err
	}
	user.ID = entity.ID
	return nil
}

func (a *userRepositoryAdapter) FindByID(ctx context.Context, id uint) (*model.User, error) {
	entityPtr, err := a.BaseRepository.FindByID(ctx, id)
	if err != nil {
		return nil, err
	}
	domain := mapper.UserToDomain(*entityPtr)
	return &domain, nil
}

var _ output.UserPersistencePort = (*userRepositoryAdapter)(nil)
