package persistence

type UserEntity struct {
	ID       uint   `gorm:"primaryKey"`
	Username string `gorm:"uniqueIndex"`
	Email    string
	Password string
}

func (UserEntity) TableName() string {
	return "users"
}
