package persistence

import (
	"context"

	"{{.ModulePath}}/internal/application/port/output"
	"{{.ModulePath}}/internal/domain/model"
	persistenceData "{{.ModulePath}}/internal/infrastructure/output/persistence/data"
	"{{.ModulePath}}/internal/infrastructure/output/persistence/mapper"
	"{{.FrameworkModule}}/framework/data"
	"{{.FrameworkModule}}/framework/ioc"
	"gorm.io/gorm"
)

type {{.LowerName}}RepositoryAdapter struct {
	data.BaseRepository[persistenceData.{{.StructName}}Entity]
}

func init() {
	ioc.GetContainer().RegisterRepositoryFactory("{{.StructName}}Repository", func(dbConn *gorm.DB) interface{} {
		return &{{.LowerName}}RepositoryAdapter{
			BaseRepository: data.NewBaseRepository[persistenceData.{{.StructName}}Entity](dbConn),
		}
	})
}

func (a *{{.LowerName}}RepositoryAdapter) Save(ctx context.Context, item *model.{{.StructName}}) error {
	entity := mapper.{{.StructName}}ToEntity(*item)
	err := a.BaseRepository.Save(ctx, &entity)
	item.ID = entity.ID
	return err
}

func (a *{{.LowerName}}RepositoryAdapter) FindAll(ctx context.Context) ([]model.{{.StructName}}, error) {
	entities, err := a.BaseRepository.FindAll(ctx)
	if err != nil {
		return nil, err
	}
	items := make([]model.{{.StructName}}, len(entities))
	for i, e := range entities {
		items[i] = mapper.{{.StructName}}ToDomain(e)
	}
	return items, nil
}

func (a *{{.LowerName}}RepositoryAdapter) FindByID(ctx context.Context, id uint) (*model.{{.StructName}}, error) {
	entity, err := a.BaseRepository.FindByID(ctx, id)
	if err != nil {
		return nil, err
	}
	m := mapper.{{.StructName}}ToDomain(*entity)
	return &m, nil
}

func (a *{{.LowerName}}RepositoryAdapter) Delete(ctx context.Context, id uint) error {
	return a.BaseRepository.Delete(ctx, id)
}

var _ output.{{.StructName}}PersistencePort = (*{{.LowerName}}RepositoryAdapter)(nil)
