package data

import (
	"time"

	"gorm.io/gorm"
)

type {{.StructName}}Entity struct {
	ID        uint      `gorm:"primarykey"`
	Name      string    `gorm:"size:255;not null"`
	CreatedAt time.Time
	UpdatedAt time.Time
	DeletedAt gorm.DeletedAt `gorm:"index"`
}

func ({{.StructName}}Entity) TableName() string {
	return "{{.PluralName}}"
}
